@page
@model TechTreeWebApplication.Areas.Admin.Pages.CategoryItem.Content.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContentEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemContent.Id" />
            <input type="hidden" asp-for="ItemContent.CategoryItemId" />
            <div class="form-group">
                <label asp-for="ItemContent.Title" class="control-label"></label>
                <input asp-for="ItemContent.Title" class="form-control" />
                <span asp-validation-for="ItemContent.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemContent.HTMLContent" class="control-label"></label>
                <input asp-for="ItemContent.HTMLContent" class="form-control" />
                <span asp-validation-for="ItemContent.HTMLContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemContent.VideoLink" class="control-label"></label>
                <input asp-for="ItemContent.VideoLink" class="form-control" />
                <span asp-validation-for="ItemContent.VideoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index" asp-route-categoryId=@Model.CategoryId>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
