@page
@model TechTreeWebApplication.Areas.Admin.Pages.CategoryItem.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CategoryItemEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryItemEntity.CategoryId" class="control-label"></label>
                <select asp-for="CategoryItemEntity.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryItemEntity.MediaTypeId" class="control-label"></label>
                <select asp-for="CategoryItemEntity.MediaTypeId" class ="form-control" asp-items="ViewBag.MediaTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryItemEntity.Title" class="control-label"></label>
                <input asp-for="CategoryItemEntity.Title" class="form-control" />
                <span asp-validation-for="CategoryItemEntity.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryItemEntity.Description" class="control-label"></label>
                <input asp-for="CategoryItemEntity.Description" class="form-control" />
                <span asp-validation-for="CategoryItemEntity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryItemEntity.DateReleased" class="control-label"></label>
                <input asp-for="CategoryItemEntity.DateReleased" class="form-control" />
                <span asp-validation-for="CategoryItemEntity.DateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
