@page
@model TechTreeWebApplication.Areas.Admin.Pages.CategoryItem.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>@Model.Category.Title</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryItem.CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryItem.MediaTypeId" class="control-label"></label>
                <select asp-for="CategoryItem.MediaTypeId" class ="form-control" asp-items=@Model.MediaTypeSelectList></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoryItem.Title" class="control-label"></label>
                <input asp-for="CategoryItem.Title" class="form-control" />
                <span asp-validation-for="CategoryItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryItem.Description" class="control-label"></label>
                <input asp-for="CategoryItem.Description" class="form-control" />
                <span asp-validation-for="CategoryItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryItem.DateReleased" class="control-label"></label>
                <input asp-for="CategoryItem.DateReleased" class="form-control" />
                <span asp-validation-for="CategoryItem.DateReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-categoryId=@Model.Category.Id>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
